body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: #333;
    color: white;
}

/* Container and Game Layout */
.container, .game-container {
    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Game Container */
.game-container {
    width: 90vw;  /* Adjusts based on screen width */
    max-width: 600px;
    height: 60vh;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    margin: 100px 10px;
}

.game-info {
    padding: 0 10px;
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1d;
    border: solid 2px #252525;
    border-radius : 10px;
    width: 80%;
    box-sizing: border-box;
    padding:0 20px;
    margin-bottom: 10px;


}

/* Game Canvas */
#gameCanvas {
    border: solid 1px rgb(31, 31, 31);
    background-color: #3a3a3a;
    flex: 3;
    width: 100%;
    border-radius: 8px;
}

/* Container and Button Layout */
.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#message {
    font-weight: bold;
    font-size: 1.5rem;
}

.buttonScore {
    margin: 2px;
    display: flex;
    flex-direction: column;
}

#stops {
    padding: 0;
    margin: 0;
    background: none;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw; 
    max-width: 300px;
    background-color: white;
    color: black;
    border: 2px solid #333;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    border-radius: 8px;
}

#alertButtons {
    margin-top: 20px;
}

#alertButtons button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
    .game-container {
        width: 100%;
      
        max-width: 100%;
    }

    #gameCanvas {
        height: auto;
    }

    button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    .custom-alert {
        width: 90vw;
    }

    #message {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .game-container {
        height: 70vh;
    }

    #gameCanvas {
        height: 100%;
    }

    button {
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    .custom-alert {
        padding: 10px;
    }

    #message {
        font-size: 1rem;
    }
}

#score1, #score2{
margin-top: 2rem;
}
